

.login{
    background-color: var(--default-bg-color);
    color: var(--default-text-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.login-header{
    display: flex;
    align-items: stretch;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.login-header h1{
    margin: 0;
    padding: 0.5rem;
    font-size: 16px;
    flex: 1;
    -webkit-app-region: drag;
}

.login-form{
    width: 100%;
    height: 100%;
    z-index: 0;
    position: relative;
}

.login-login, .login-signup{
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    row-gap: 0.5rem;
    top : 50%;
    transform: translateY(-50%);
}

.login-login{
    animation: fromLeft 1s forwards ;
} 

.login-signup{
    animation: fromRight 1s forwards ;
}

.login-form label{
    color: var(--default-text-color);
}

.login-form input{
    all: unset;
    border-radius: 5px;
    border : 1px solid var(--default-title-color);
    padding: 0.5rem;
}

.login-form input:focus{
    border : 1px solid var(--default-border-color);
}

.login-form button{
    all: unset;
    border-radius: 5px;
    border : 1px solid var(--default-border-color);
    padding: 0.5rem;
    background-color: var(--default-secondary-bg-color);
    color: var(--default-text-color);
    cursor: pointer;
}

.login-form button:hover{
    background-color: var(--default-border-color);
    color: var(--default-secondary-bg-color);
}

.login-form button:active{
    background-color: var(--default-title-color);
    color: var(--default-secondary-bg-color);
}

.login-form span{
    color: var(--default-title-color);
    cursor: pointer;
}

.login-image{
    z-index: 1000;
    height: 100vh;
    position : relative;
    transition: 2s;
}

.login-image img{
    z-index: 1000;
    height: 500px;
    aspect-ratio: 1/1;
    position : relative;
    top : 50%;
    transform: translateY(-50%);
}

.right{
    position : fixed;
    right: -250px;
    rotate: 360deg;
}

.left{
    position : fixed;
    right : calc(100% - 250px);
    rotate: 0deg;
}

.login-form p:not(.error){
    color: var(--default-text-color);
    padding: 0;
    margin: 0;
}

.error{
    color: rgb(236, 51, 51);
    padding: 0;
    margin: 0;
    white-space: wrap;
    max-width: 250px;
}

@keyframes animLogo{
    from{
        transform: rotateZ(360deg);
        left : unset;
        right: -250px;
    }
    to{
        transform: rotateZ(0deg);
        left : -250px;
        right: unset;
    }
}
@keyframes fromRight{
    from{
        right: -100%;
    }
    to{
        right: 50px;
    }
}

@keyframes fromLeft{
    from{
        left: -100%;
    }
    to{
        left: 50px;
    }
}

.login-image svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-text {
    fill: var(--default-text-color);
    font-size: 110px; /* Adjust the size if needed */
    font-weight: 500;
    letter-spacing: 0.1em;
}

@keyframes show2{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.onright{
    animation : show 3s forwards;
}

.onleft{
    animation : show2 3s forwards;
}
