.profile-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;
}

.profile-content h1{
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

.profile-header{
    display: flex;
    column-gap: 1rem;
    align-items: flex-end;
}

.profile-header img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.modify-btn{
    all : unset;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 2px solid var(--default-border-color);
    background-color: var(--default-bg-color);
    color: var(--default-text-color);
    transition: 0.3s;
}

.modify-btn:hover{
    background-color: transparent;
}

.profile-change{
    border: 2px solid var(--default-border-color);
    border-radius: 5px;
    padding: 1rem;
    background-color: var(--default-bg-color);
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.527);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.profile-change h2{
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    color : var(--default-text-color);
}

.dialog-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialog-header button{
    all : unset;
    cursor: pointer;
    font-size: 2rem;
    color: var(--default-text-color);
}

.dialog-content{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.5rem;

}

.dialog-content input{
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid var(--default-title-color);
    background-color: var(--default-bg-color);
    color: var(--default-text-color);
}

.dialog-content button{
    all : unset;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 2px solid var(--default-border-color);
    background-color: var(--default-secondary-bg-color);
    color: var(--default-text-color);
    transition: 0.3s;
}

.dialog-content button:hover{
    background-color: var(--default-bg-color);
}

.dialog-content label{
    color: var(--default-text-color);
}

.pwd{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.5rem;
}

.profile-change::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
}
