body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --default-text-color: white;
  --default-title-color: #38B6FF;
  --default-border-color: white;
  --default-secondary-border-color: #38B6FF;
  --default-bg-color: #222222;
  --default-secondary-bg-color: #2C3333;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

